<html>
    <body>
            <center><table>
                <tr<td colspan="2"><h2>USER DETAILS</h2></td></td>
                <tr><td>User Name</td><td> {{ username }}</td></tr>
                <tr><td>Email</td><td> {{ email }}</td></tr>
                <tr><td>Password</td><td> {{ password }}</td></tr>
                <tr><td>Address </td><td>{{ caddress }}</td></tr>
                <tr><td>Phone Number</td><td> {{ cphone }}</td></tr>
                
                <tr><td colspan="2"<center><a href="foodorder">Go To Homepage</a></center></td></tr>
            </table>
            </center>

    </body>

</html>     