<html>
    <body>
        <center>
            <h1>Online Food Order</h1>
            <p><a href="user">CUSTOMER REGISTER</a></p>
            <p><a href="restaurant">RESTAURANT REGISTER</a></p>
            <p><a href="menu">MENU REGISTER</a></p>
            <p><a href="driver">DRIVER REGISTER</a></p>
        </center>
        <center>
            <h1>Views All Details</h1>
            <p><a href="userdetail">ALL CUSTOMER DETAILS</a></p>
            <p><a href="restaurantdetail">All RESTAURANT DETAILS</a></p>
             <p><a href="menudetail">All MENU DETAILS</a></p>
            <p><a href="driverdetail">All DRIVER DETAILS</a></p>



        </center>
        <center>
        <h1> MENU</h1>
        <p><a href="onemenu">MENU</a></p></center>

    </body>
</html>
