<html>
    <body>
            <table>
                <tr<td colspan="2"><h2>MENU DETAILS</h2></td></td>
                <tr><td>Item Name</td><td> {{ mitem }}</td></tr>
                <tr><td>Price</td><td> {{ pr }}</td></tr>
                <tr><td>Restaurant</td><td> {{ rest }}</td></tr>
                <tr><td>Food Image</td><td> {{ foodimage }}</td></tr>
                
                <tr><td colspan="2"<center><a href="restauranthome">Go To Back</a></center></td></tr>
                <!-- <tr><td colspan="2"<center><a href="selectprocess">Go To Menu</a></center></td></tr> -->

            </table>
            

    </body>

</html>     