<html>
    <body>
            <center><table>
                <tr<td colspan="2"><h2>Restaurant DETAILS</h2></td></td>
                <tr><td>Restaurant Name</td><td> {{ rname }}</td></tr>
                <tr><td>Phone Number</td><td> {{ rphone_number }}</td></tr>
                <tr><td>Address </td><td>{{ raddress }}</td></tr>
                
                <tr><td colspan="2"<center><a href="foodorder">Go To Homepage</a></center></td></tr>
            </table>
            </center>

    </body>

</html>     